html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  body {
    max-width: 1500px;
  }

  #contact {
    max-width: 1500px;
  }

header, body, footer {
  background-color: tan;
}

header>p {
    margin: 2rem;
    font-size: 24px;
    font-style: italic;
}
  p {
    text-align: left;
  }
  
  /* 12 COLUMN GRID SYSTEM */

 
  .row {
    display: flex;
    flex-wrap: wrap; }
  
  .column {
    border: solid red 2px; }
  
  .small-12 {
    flex-basis: 100%; }

    nav img {
      width: 100%;
      height: 400px;
  }
  
  .title {
      text-align: center;
  }
  
  .row {
    background-color: tan;
  }
  

  
  .about> h2> p {
    margin: 1rem 3rem 1rem 3rem;
  }
  

  
  .container {
    background-color: turquoise;
    border: solid 5px red;
    display: none;
    margin: 2rem;
    padding: 1.5rem;
  }

  .container> p {
    font-size: 20px;
  }

  .about> h2 {
    text-align: center;
  }

  #name, #phone, #email, #comm {
    display: inline;
    text-align: start;
    margin: 0 1rem;
    font-size: 18px;
  }

  .contact, textarea, input {
    padding: auto;
    margin: 0.5rem 0;
    height: 30px;
    width: 50%;
  }

  #btn {
    border: solid 2px rgb(209, 5, 5);
    width: 100px;
    margin: 0 0 3rem 0;
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
  }

  #submit {
    width: 100px;
    margin: 2rem 0 0 0;
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
  }

  textarea {
    margin: 0 2rem;
    height: 100px;
    width: 60%;
  }

  #contacthead {
    margin: 2rem;
  }

  #contacthead>div> h2 {
    text-align: center;
  }

  li {
    list-style: none;
  }
  

  @media only screen and (min-width: 768px) and (max-width: 1140px) {
    /* 12 COLUMN GRID SYSTEM */
  
    .medium-6 {
      flex-basis: 50%;
    }
    
      .about> img {
        position: relative;
      }

      header>h1 {
        font-size: 36px;
      }

      header>p {
        margin: 3rem;
        font-size: 32px;
    }

      #btn {
        width: 200px;
        height: 130px;
        font-size: 28px;
        margin: 0;
        position: relative;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);  
      }

      .container {
        margin: 3rem;
        padding: 2rem 3rem;
      }

      .container> h2 {
        font-size: 32px;
        text-align: center;
      }

      .container> p {
        font-size: 28px;
      }

      nav img {
        width: 100%;
        height: 500px;
    }

    #nlink {
      width: 100%;
      height: 200px;
    }

    #contacthead {
      font-size: 32px;
      text-align: center;
    }

    #name, #phone, #email, #comm {
      margin: 0 5rem;
      font-size: 28px;
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    .contact, textarea, input {
      padding: auto;
      margin: 0.5rem 0;
      height: 30px;
      width: 28%;
      font-size: 20px;
    }

    #submit {
      width: 150px;
      height: 50px;
      font-size: 24px;
    }
  
    .comm, textarea {
      padding: auto;
      margin: 0 10rem 0 9rem;
      height: 100px;
      width: 40%;
      font-size: 24px;
    }
  
    #contact> h2 {
      text-align: left;
      padding-left: 12.5%;
    }

    }
  /* end of media query */

  @media only screen and (min-width: 1141px) and (max-width: 2000px) {
    /* 12 COLUMN GRID SYSTEM */
  
    .large-3 {
      flex-basis: 33.33%; }

      #contact {
        max-width: 750px;
      }

      header>h1 {
        font-size: 40px;
      }

      header>p {
        margin: 3rem;
        font-size: 36px;
    }

      nav img {
        width: 100%;
        height: 500px;
    }
    
    #btncon {
      width: 20%;
    }

    #btn {
      width: 200px;
      height: 130px;
      font-size: 28px;
      margin: 0 0 50% 0;
    }

    .container {
      margin: 0;
      padding: 2rem 6rem;
      position: relative;
      width: 66.66%;
    }

    .container> h2 {
      font-size: 40px;
      text-align: center;
    }

    .container> p {
      font-size: 36px;
    }

    #contacthead {
      font-size: 40px;
      text-align: center;
    }

    .contact, textarea, input {
      padding: auto;
      margin: 0.5rem 0;
      height: 30px;
      width: 28%;
      font-size: 24px;
    }

    #submit {
      width: 150px;
      height: 50px;
      font-size: 28px;
    }
  
    #name, #phone, #email, #comm {
      margin: 0 5rem;
      font-size: 28px;
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .comm, textarea {
      padding: auto;
      margin: 0 10rem 0 9rem;
      height: 100px;
      width: 40%;
      font-size: 28px;
    }

.four {
  width: 66.66%;
}

#vc{
  display: flex;
  flex-basis: 50%;
}

#soc {
  display: flex;
  flex-basis: 50%;
}

#contact {
  display: block;
  flex-basis: 50%;
}
    }
  /* end of media query */

